.App {
  background-color: rgb(210, 222, 188);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.AppContainer {
  display: flex;
}
.LeftMenu {
  margin-top: 64px;
  max-width: 200px;
  background-color: gray;
}
